{% extends 'base.html' %}
{% block title %}Data Lokasi{% endblock %}
{% block breadcrumb %}<span class="sep">›</span><span class="current">Lokasi</span>{% endblock %}
{% block content %}
<div class="flex items-center justify-between">
  {% set ph_title = 'Data Lokasi Kerusakan' %}{% include 'components/page_header.html' %}
  <a href="{{ url_for('lokasi.create') }}" class="btn btn--primary"><i class="bi bi-plus-lg"></i>Tambah Lokasi</a>
</div>
<div class="table-wrap">
  <table class="table cnn-table">
    <thead><tr><th scope="col">#</th><th scope="col">Nama Citra</th><th scope="col">Koordinat</th><th scope="col">Sumber</th><th scope="col">Foto</th><th scope="col">Aksi</th></tr></thead>
    <tbody>
      {% for lok in lokasi_list %}<tr>
        <td>{{ loop.index }}</td><td>{{ lok.nama_citra }}</td>
        <td class="text-mono">{{ lok.latitude }}, {{ lok.longitude }}</td>
        <td>{% set badge_value = lok.sumber_data %}{% include 'components/status_badge.html' %}</td>
        <td class="text-mono">{{ lok.foto_list | length }}</td>
        <td>{% set ta_view_url = url_for('lokasi.detail', lokasi_id=lok.id) %}{% set ta_delete_url = url_for('lokasi.delete', lokasi_id=lok.id) %}{% set ta_confirm_msg = 'Hapus data lokasi ini?' %}{% include 'components/table_actions.html' %}</td>
      </tr>{% else %}{% set et_colspan = 6 %}{% include 'components/empty_table_row.html' %}{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
